@import 'src/variables.scss';

.box-direction {
  width: 18px;
  height: 18px;
}

.editor-border {
  overflow: hidden;
  width: 50%;
  max-width: 100%;
  max-height: 100%;

  padding: 2px;
  border: 1px solid $secondary-dark;
  resize: both;
  cursor: move;

}
