@import 'src/variables.scss';

:host {
  position: relative;

  nav {
    padding: 20px 20px 45px 20px;
    background-color: $secondary-light;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .nav-left {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 12px;

      .logo {
        object-fit: cover;
        transition: transform 1s ease-in-out;

        &:hover {
          transform: rotate(720deg);
        }
      }

      a {
        text-decoration: none;
        color: $primary-dark;

        h2 {
          font-size: 2rem;
          cursor: pointer;
        }
      }
    }

    .nav-right {
      position: relative;

      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      .welcome {
        margin-right: 8px;
      }
    }
  }

  .shape-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .shape-divider svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 36px;
  }

  .shape-divider .shape-fill {
      fill: $primary-light;
  }

}
