<header>
  <a class="button-dashboard" routerLink="/dashboard">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 18h3.75a5.25 5.25 0 100-10.5H5M7.5 4L4 7.5 7.5 11"/>
    </svg>
    <p>Back to Dashboard</p>
  </a>

  <h1>{{ currentCarousel?.title }}</h1>

  <div class="buttons">
    <button class="save whirler-button" (click)="onSave()">Save</button>
    <button class="add-slide growing-button" (click)="onAddSlide()">+</button>
    <button class="add-content growing-button" (click)="onAddContent()">+</button>
    <button class="switch-mode growing-button" (click)="onSwitchMode()">🎦</button>
  </div>
</header>

<section class="carousel-detail">
  <div class="slider">
    <button class="button-previous" (click)="onPreviousSlide()"> < </button>

    <div class="current-slide" (dblclick)="onActivateEditor()" #currentSlide>
      <app-quill-editor
        *ngIf="mode == 'edit'"
        [currentSlide]="currentSlide"
        [mode]="mode">
      </app-quill-editor>
      <app-slide
        *ngIf="mode == 'presentation'"
        [slideContent]="slideContent">
      </app-slide>
    </div>

    <button class="button-next" (click)="onNextSlide()"> > </button>
  </div>
</section>

<app-carousel-thumbnails [slides]="slides"></app-carousel-thumbnails>
