<div class="backdrop" (click)="onCancel()"></div>

<div class="form-container">
  <h2 *ngIf="carousel == null">Create a New Carousel</h2>
  <form [formGroup]="carouselForm">
    <div class="form-control">
      <label for="title">Title</label>
      <input name="title" formControlName="title">
    </div>
    <div class="form-control">
      <label for="description">Description</label>
      <input name="description" formControlName="description">
    </div>
    <div class="form-control">
      <label for="tags">Tags</label>
      <div class="tag-input-container" formArrayName="tags">
        <div class="tag-inputs" *ngFor="let tag of tags.controls; let i = index">
          <input type="text"
            [formControl]="tag"
            [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
            <mat-option [value]="tag.value">Create New Tag</mat-option>
            @for (option of options; track option) {
              <mat-option [value]="option.name">{{option.name}}</mat-option>
            }
          </mat-autocomplete>
          <button class="remove-tag whirler-button" type="button" (click)="removeTag(i)">X</button>
        </div>
      </div>
      <button class="add-tag whirler-button" type="button" (click)="addTag()">+</button>
    </div>
    <div class="form-control">
      <label for="thumbnail">Thumbnail</label>
      <input name="thumbnail" formControlName="thumbnail" (change)="onThumbnailChange($event)">
      <img
        *ngIf="carouselForm.get('thumbnail').value"
        [src]="carouselForm.get('thumbnail').value"
        [alt]="carouselForm.get('title').value">
    </div>
  </form>

  <div class="buttons-container">
    <button class="edit whirler-button" (click)="onEdit()">Edit Slides</button>
    <button class="save whirler-button" (click)="onSave()">Save for Later</button>
    <button class="cancel whirler-button" (click)="onCancel()">Cancel</button>
  </div>
</div>
