<app-header [isLoginMode]="isLoginMode"></app-header>

<div class="auth-container">
<div class="card-container">
  <img class="logo" src="../../../assets/logo.png" alt="logo" width="52px" height="52px">
  <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
    <div class="form-group">
      <input
        type="email"
        name="email"
        id="email"
        email
        placeholder="Email"
        ngModel
        required>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
        ngModel
        required
        minlength="6">
    </div>

    <button
      class="whirler-button"
      type="submit"
      [disabled]="!authForm.valid">
      {{ isLoginMode ? 'Log In' : 'Sign Up' }}
    </button>

    <a
      type="button"
      *ngIf="isLoginMode"
      (click)="onSwitchToSignUp()">
      <p>New here?  Sign up instead</p>
    </a>

    <a
      type="button"
      *ngIf="!isLoginMode"
      (click)="onSwitchToLogIn()">
      <p>Already have an account?  Log in</p>
    </a>

  </form>
  <p *ngIf="errorMessage">{{ errorMessage }}</p>
</div>
</div>

<app-footer></app-footer>
