<div class="carousel-detail">
  <quill-editor></quill-editor>
  
  <div class="slider">
    <div class="slide previous-slide">
      <h1>Slide 1</h1>
    </div>

    <div class="slide current-slide">
      <input type="text" placeholder="Title">
      <textarea name="" id="" cols="30" rows="10" placeholder="Content"></textarea>
    </div>

    <div class="slide next-slide">
      <h1>Slide 3</h1>
    </div>

    <button class="button-previous"> < </button>
    <button class="button-next"> > </button>
  </div>
</div>
