<div class="carousel-detail">

  <div class="slider">
    <button class="button-previous"> < </button>

    <div class="current-slide" (dblclick)="onActivateEditor()" #currentSlide>
      <app-quill-editor
        *ngIf="editContentMode"
        (editModeExited)="updateSlideContent($event)"
        [currentSlide]="currentSlide"
        [editContentMode]="editContentMode"
        [dragAndDropMode]="dragAndDropMode">
      </app-quill-editor>
      <app-slide *ngIf="!editContentMode" [slideContent]="slideContent"></app-slide>
    </div>

    <button class="button-next"> > </button>
  </div>
</div>
