<div class="carousel-detail">

  <div class="slider">
    <button class="button-previous"> < </button>

    <div class="current-slide" (dblclick)="onActivateEditor()" #currentSlide>
      <app-quill-editor
        *ngIf="mode == 'editContent'"
        (editModeExited)="updateSlideContent($event)"
        [currentSlide]="currentSlide"
        [mode]="mode">
      </app-quill-editor>
      <app-slide *ngIf="mode == 'presentation'" [slideContent]="slideContent"></app-slide>
    </div>

    <button class="button-next"> > </button>
  </div>
</div>
