nav {
  padding: 10px;
  background-color: lightgray;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .nav-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;

    .logo {
      object-fit: cover;
    }
  }

  .nav-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
  }
}
