<div class="container" *ngFor="let carousel of carousels; let i = index">
  <div class="carousel-details">
    <img
      class="carousel-thumbnail"
      [src]="carousel.thumbnail"
      [alt]="carousel.title"
      width="80px"
      height="80px">
    <div class="carousel-text">
      <h3 class="title">{{ carousel.title }}</h3>
      <p class="description">{{ carousel.description }}</p>
    </div>
  </div>

  <div class="buttons">
    <button class="edit whirler-button" routerLink="/edit">Edit</button>
    <button class="publish whirler-button">Publish</button>
    <button class="delete whirler-button" (click)="removeCarousel(i)">Delete</button>
  </div>
</div>

