@import '../../../variables.scss';

.container {
  margin: 20px 0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: $box-shadow;
  background-color: adjust-color($primary-light, $lightness: 10%);
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  transition: all .25s ease-in-out;

  &:hover {
    background-color: $secondary-light;
    box-shadow: $hover-box-shadow;
  }

  .carousel-details {
    max-width: 80vw;
    margin-right: 20px;

    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: 15px;
    justify-items: start;
    align-items: center;

    .carousel-thumbnail {
      border-radius: 8px;
      object-fit: cover;
    }

    .carousel-text {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      overflow: hidden;

      .tags-container {
        padding-top: 1em;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 0.5em;

        .tag {
          padding: 0em .5em .1em .4em;
          font-size: 14px;
          color: $primary-light;
          background-color: lighten($secondary-dark, 35%);
          border-radius: 10px;
        }
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }

}
