:host {
  max-width: 80vw;
  height: 80px;

  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  column-gap: 8px;
  justify-items: start;
  align-items: center;

  .carousel-thumbnail {
    border-radius: 8px;
    object-fit: cover;
  }

  .carousel-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
