@import '../../variables.scss';

:host {
  position: relative;

  .container {
    margin: 0 auto;
    padding: 30px 30px 50px 30px;
    max-width: 900px;

    h1 {
      margin-bottom: 10px;
      font-size: 3rem;
    }

    hr {
      border-top: 1px solid $secondary-dark;
    }

    .heading {
      padding-right: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}


