@import 'variables';

a[role="button"], button {
  width: 5rem;
  height: 2rem;

  font-weight: 400;
  text-align: center;
  line-height: 2rem;
  text-decoration: none;
  cursor: pointer;

  color: $primary-light;
  background-color: $french-violet;

  border: none;
  border-radius: 8px;
  box-shadow: $box-shadow;
  transition: all 250ms;

  &:hover {
    background-color: adjust-color($french-violet, $lightness: $hover-lightness);
    box-shadow: $hover-box-shadow;
    transform: $hover-transform;
  }

  &:active {
    box-shadow: $active-box-shadow;
    transform: $active-transform;
  }

  /* Dashboard Action Buttons */

  &.edit {
    color: $primary-dark;
    background-color: $aquamarine;

    &:hover {
      background-color: adjust-color($aquamarine, $lightness: $hover-lightness);
    }
  }

  &.delete {
    color: $primary-dark;
    background-color: $french-rose;

    &:hover {
      background-color: adjust-color($french-rose, $lightness: $hover-lightness);
    }
  }

  &.publish {
    color: $primary-dark;
    background-color: $jasmine;

    &:hover {
      background-color: adjust-color($jasmine, $lightness: $hover-lightness);
    }
  }
}
