@import 'variables';

.whirler-button {
  width: 6rem;
  padding: 0.15rem 0;

  font-weight: 700;
  text-align: center;
  line-height: 2rem;
  text-decoration: none;
  cursor: pointer;

  color: $primary-light;
  background-color: $french-violet;

  border: 2px solid transparent;
  border-radius: 8px;
  transition: all 200ms ease-in;

  &:hover {
    color: $french-violet;
    font-weight: 700;
    background-color: $primary-light;
    border: 2px solid $french-violet;
  }

  /* Dashboard Action Buttons */

  &.edit {
    color: $primary-dark;
    background-color: $aquamarine;

    &:hover {
      color: adjust-color($aquamarine, $lightness: -30%);
      background-color: $primary-light;
      border: 2px solid $aquamarine;
    }
  }

  &.delete, &.cancel {
    color: $primary-dark;
    background-color: $french-rose;

    &:hover {
      background-color: $primary-light;
      border: 2px solid $french-rose;
    }
  }

  &.publish {
    color: $primary-dark;
    background-color: $jasmine;

    &:hover {
      background-color: $primary-light;
      border: 2px solid $jasmine;
    }
  }
}
