@import 'variables';

.whirler-button {
  width: 5rem;
  height: 2rem;

  font-weight: 400;
  text-align: center;
  line-height: 2rem;
  text-decoration: none;
  cursor: pointer;

  color: $primary-light;
  background-color: $french-violet;

  border: none;
  border-radius: 8px;
  box-shadow: $box-shadow;
  transition: all 250ms;

  &:hover {
    box-shadow: $hover-box-shadow;
  }

  &:active {
    box-shadow: $active-box-shadow;
    transform: $active-transform;
  }

  /* Dashboard Action Buttons */

  &.edit {
    color: $primary-dark;
    background-color: $aquamarine;
  }

  &.delete {
    color: $primary-dark;
    background-color: $french-rose;
  }

  &.publish {
    color: $primary-dark;
    background-color: $jasmine;
  }
}
