@import 'variables';
@import 'buttons';

// RESET

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// FONT

body {
  font-family: 'Quicksand', sans-serif;
  background-color: $primary-light;
}

button, input {
  font: inherit;
}
