// COLORS

$primary-light: #fff4ef;
$secondary-light: #FCE4D8;

$primary-dark: #16001E;
$secondary-dark: #656565;

$french-rose: #F75590;
$jasmine: #FBD87F;
$french-violet: #731DD8;
$aquamarine: #10FFCB;
