// COLORS

$primary-light: #fff4ef;
$secondary-light: #FCE4D8;

$primary-dark: #16001E;
$secondary-dark: #656565;

$french-rose: #F75590;
$jasmine: #FBD87F;
$french-violet: #731DD8;
$aquamarine: #10FFCB;

// BUTTONS

$hover-lightness: 20%;

$hover-box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
$active-box-shadow:  rgba(0, 0, 0, 0.06) 0 2px 4px;

$hover-transform: translateY(-1px);
$active-transform: translateY(0px);
