// COLORS

$primary-light: #fffDFD;
$secondary-light: #FCE4D8;

$primary-dark: #16001E;
$secondary-dark: #656565;

$french-rose: #F75590;
$jasmine: #FBD87F;
$french-violet: #731DD8;
$aquamarine: #10FFCB;

// BUTTONS

$hover-lightness: 10%;

$box-shadow:  rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$hover-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$active-box-shadow:  rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

$hover-transform: translateY(-1px);
$active-transform: translateY(0px);
