@import '../../../variables.scss';

:host {
  width: 100%;
}

.container {
  padding: 35px 20px 20px 20px;
  background-color: $secondary-light;

  position: relative;

  .shape-divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .shape-divider svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 32px;
  }

  .shape-divider .shape-fill {
      fill: $primary-light;
  }

  .attribution:any-link {
    color: $french-violet;
    text-decoration: none;
  }

  .attribution:hover {
    color: adjust-color($aquamarine, $lightness: -15%);
    text-decoration: underline;
  }

  .attribution:active {
    color: $french-rose;
  }
}
