@import '../../../variables.scss';

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

.form-container {
  position: fixed;
  top: 20vh;
  left: 20vw;
  width: 60vw;
  padding: 16px;
  z-index: 100;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);


  h2 {
    margin: 12px;
  }

  form {
    margin: 12px;

    .form-control {
      margin-bottom: 12px;
      display: flex;
      flex-direction: column;
      gap: 6px;

      input {
        outline-color: $french-violet;
        padding: 4px;
      }
    }

    .buttons-container {
      margin: 24px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .save {
        line-height: 1.25;
      }
    }
  }



}
