<div class="backdrop" (click)="onCancel()"></div>
<div class="form-container">
  <form [formGroup]="carouselForm" #f>
    <label for="title">Title</label>
    <input name="title" formControlName="title">
    <label for="description">Description</label>
    <input name="description" formControlName="description">
    <label for="tags">Tags</label>
    <input name="tags" formControlName="tags">
    <label for="thumbnail">Thumbnail</label>
    <input name="thumbnail" formControlName="thumbnail">
    <div class="buttons-container">
      <button class="edit" (click)="onEdit(f)" routerLink="/edit">Edit Now</button>
      <button class="save" (click)="onSave(f)">Save for Later</button>
      <button class="cancel" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>
