@import '../../../variables.scss';

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

.form-container {
  position: fixed;
  top: 10vh;
  left: 20vw;
  width: 60vw;
  max-height: 80vh;
  overflow-y: scroll;

  padding: 16px;
  z-index: 100;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);


  h2 {
    margin: 24px 12px;
    text-align: center;
  }

  form {
    margin: 12px;

    .form-control {
      margin-bottom: 12px;
      display: flex;
      flex-direction: column;
      gap: 6px;

      input {
        outline-color: $french-violet;
        padding: 4px;
      }
    }

    .tag-input-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      column-gap: 32px;
      row-gap: 12px;
    }

    .add-tag, .remove-tag {
      width: 2.25rem;
      border-radius: 50%;
      padding: 0;

      color: $secondary-dark;
      background-color: $primary-light;
      border: 1px solid $secondary-dark;

      &:hover {
        color: $primary-light;
        background-color: $secondary-dark;
        border: 1px solid $primary-light;
      }
    }

    .add-tag {
      margin: 6px 0;
    }

    .remove-tag {
      margin-left: 12px;
    }
  }

  img {
    width: clamp(300px, 50%, 500px);
    margin: 12px 0;
  }

  .buttons-container {
    margin: 24px auto;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .save {
      width: 9rem;
    }
  }

}
