<div class="backdrop" (click)="onCancel()"></div>
<div class="form-container">
  <h2>Create a New Carousel</h2>
  <form [formGroup]="carouselForm" #f>
    <div class="form-control">
      <label for="title">Title</label>
      <input name="title" formControlName="title">
    </div>
    <div class="form-control">
      <label for="description">Description</label>
      <input name="description" formControlName="description">
    </div>
    <div class="form-control">
      <label for="tags">Tags</label>
      <input name="tags" formControlName="tags">
    </div>
    <div class="form-control">
      <label for="thumbnail">Thumbnail</label>
      <input name="thumbnail" formControlName="thumbnail">
    </div>
    <div class="buttons-container">
      <button class="edit whirler-button" (click)="onEdit(f)" routerLink="/edit">Edit Now</button>
      <button class="save whirler-button" (click)="onSave(f)">Save for Later</button>
      <button class="cancel whirler-button" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>
