<a  class="button-dashboard" routerLink="dashboard"></a>

<div class="carousel-edit">
  <div class="slider">
    <div class="previous-slide">
      <h1>Slide 1</h1>
    </div>

    <div class="current-slide">
      <h1>Slide 2</h1>
    </div>

    <div class="next-slide">
      <h1>Slide 3</h1>
    </div>

    <button class="button-previous"> < </button>
    <button class="button-next"> > </button>
  </div>

  <div class="thumbnails">
    <div class="thumbnail">
      <h1>Slide 1</h1>
    </div>
    <div class="thumbnail">
      <h1>Slide 2</h1>
    </div>
    <div class="thumbnail">
      <h1>Slide 3</h1>
    </div>
  </div>
</div>

