@import '../../variables.scss';

.carousel-edit {

  margin: 0 auto;
  padding: 30px 30px 50px 30px;
  max-width: 900px;

  .slider {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .slide {
      border: 1px solid $secondary-dark;
      border-radius: 12px;
      box-shadow: rgba(0, 0, 0, 0.2) 0 4px 12px;

    }

    .current-slide {
      width: 50%;
      aspect-ratio: 1 / 1;
    }

    .previous-slide,
    .next-slide {
      width: 20%;
      aspect-ratio: 1 / 1;
      opacity: .5;
    }

    button {
      position: absolute;
    }

    .button-previous {
      left: 100px;
    }

    .button-next {
      right: 100px;
    }
  }
}
